torch==2.7.0
transformers==4.55.2
accelerate==1.14.0
numpy==2.2.5
tiktoken==0.12.0
huggingface_hub
pypdf==6.14.2
datasets==3.6.0
requests==2.34.2
rouge==1.0.1
fuzzywuzzy==0.18.0
python-Levenshtein==0.27.3
